.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 3rem;

  &__image {
    border-radius: 0.5rem;
  }
  &__card {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &__btn {
    text-align: center;
  }
  &__avatar {
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  &__owner {
    display: flex;
  }
  &__trade {
    margin-bottom: 1rem;
  }
}
